@model IEnumerable< Airbnb.Models.Hotel>
@{
    ViewData["Title"] = "getAll";
}

<div class="container text-center">
  <div class="row row-cols-4">
    
  
@foreach (var item in Model)
{
    <div class="col">
        
        <div id="carouselExampleControls" class="carousel slide " data-bs-ride="carousel">
           
            <div class="carousel-inner">
                   @foreach (var x in item.Images)
        {
                    <div class="carousel-item @(x==item.Images.First()?"active":"")">
                        <img src=@x.img class="d-block w-100 img-thumbnail" alt="...">
                    </div>                      
        }                 
            </div>
           
        </div>
        <h6>@Html.DisplayFor(modelItem=>item.Name)</h6>
                <p>
                   
            @Html.DisplayFor(modelItem=>item.Rate)</p>
        @foreach (var x in item.Rooms)
                {
                    <p>$ @Html.DisplayFor(modelItem=>x.Price)</p>
                    break;
                }
       
    </div>
}
    </div>
</div>