
@{
    ViewData["Title"] = "RoomAdd";
}

<h1>Finally, Add your variety of <span style="color:#F12954">Rooms</span>.</h1>


@*<form method="post">
    <label class="form-label">Enter number of your rooms types</label>
    <input name="type" class="form-control" type="text" placeholder="room type no.">
    
    <hr />


    <input type="submit" class="btn btn-primary center-btn" style="background-color:#F12954;" value="Ok">

</form>

@for(int i=0; i<ViewBag.t;){

}*@